:root {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-serif: 'Lora', Georgia, serif;

  --azul: #0A2E6E;
  --azul-m: #1557C0;
  --cielo: #1A6BCC;
  --cielo-l: #D6E6F8;
  --acento: #E8A820;
  --acento-l: #FFF4D6;

  --bg: #F5F4EF;
  --bg2: #EDECEA;
  --borde: #D9D7CF;
  --blanco: #FAFAF8;

  --texto: #111827;
  --texto2: #4B5563;
  --texto3: #9CA3AF;

  --verde: #16A34A;
  --verde-l: #DCFCE7;
  --naran: #D97706;
  --naran-l: #FEF3C7;
  --rojo: #DC2626;
  --rojo-l: #FEE2E2;

  --sombra: 0 1px 3px rgba(0,0,0,0.08), 0 4px 16px rgba(0,0,0,0.06);
  --r: 10px;
  --r-l: 16px;
  --radius: 12px;
}
